<html>
<head>
  <title>IoT for Electronics</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="/styles/style.css"/>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/iotAppMonitorClient.js"></script>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
  <h4 class="bluemix-bar">IoT for Electronics Starter Experience</h4>
  <div class="main-section">
    <div class="container">
      <h2>Experience IoT for Electronics from the perspective of both the manufacturer and the consumer</h2>
      <section class="col-xs-12 col-md-10 content">
        <div class="col-xs-12 col-sm-6 explore-info">
          <div name="selection-box-1" class="col-md-9 selection-box active">
            <img src="/images/Washer.svg"/>
            <h3 class="section-info">1. Connect and manage simulated appliances</h3>
            <p>Send commands, generate events, and view the results in real time.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 explore-info">
          <div name="selection-box-2" class="col-md-9 selection-box">
            <img src="/images/Phone.svg" class="mobile-image"/>
            <h3>2. Remotely control your connected appliances</h3>
            <p>Use a mobile app to see how a consumer will experience the solution.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="main-section gray-background arrow-section">
    <div class="container">
      <section name="description-selection-box-1" class="col-xs-12 col-md-10 content description-box">
      <h2 class="section-info">Managing Simulated Appliances</h2>
        <div class="col-xs-12 col-md-6">
          <img src="/images/Washer.svg"/>
          <img src="/images/SimulateAppliance_Diagram.png"/>
        </div>
        <div class="col-xs-12 col-md-6 explain">
          <p>Create simulated appliances, send
            commands, and view responses right
            here.</p>
          <br/>
          <p>Use the web-based app in this starter
            offering to monitor live streaming data
            from your own appliances. Your
            appliances are connected automatically
            to the IBM Watson IoT Platform for you.
            On the platform, you can see your
            devices and the data and messages
            that they send.</p>
          <a href="https://new-console.ng.bluemix.net/docs/starters/IotElectronics/iotelectronics_overview.html" target="_blank"><img src="/images/LearnMoreArrow.svg"/> Learn More </a>
        </div>
      </section>
      <section name="description-selection-box-2" class="col-xs-12 col-md-10 content description-box hidden">
      <h2 class="section-info">Exploring the Consumer Experience</h2>
        <div class="col-xs-12 col-md-6 image-box-2">
          <img src="/images//Phone.svg"/>
          <img src="/images/ConsumerApp_Diagram.png"/>
        </div>
        <div class="col-xs-12 col-md-6 explain">
          <p>The mobile app lets an appliance owner
            control and monitor a new washer using
            a mobile device.</p>
          <p>Download the mobile app to an iOS
            phone to experience how consumers
            can send commands to their own
            appliances via the platform.</p>
          <br> <br>
          <p>You can use the simulated washer view
            to mimic failure events on the washer
            and then see the results in the
            consumer&#39;s mobile app.</p>
          <p>Appliance companies can offer these
            types of apps and services to attract
            and retain customers. They can also
            use the collected data to improve
            features of their products and offer new
            services.</p>
          <a href="https://new-console.ng.bluemix.net/docs/starters/IotElectronics/iotelectronics_overview.html" target="_blank"><img src="/images/LearnMoreArrow.svg"/> Learn More </a>
        </div>
      </section>
    </div>
  </div>
  <div class="installation-section">
      <div class="main-section arrow-section ">
      <div class="container">
        <h2>Get started with the mobile app on an iOS phone</h2>
        <section class="col-xs-12 col-md-10 content">
          <div class="col-xs-12 col-md-4">
            <img class="mobile-image" src="/images/Phone.svg"/>
          </div>
          <div class="col-xs-12 col-md-8 instructions-section">
            <div class="install-info">
              <h3><strong>Quick instructions</strong></h3>
              <h3> <img src="/images/Install_Step1.svg" /> Download the app
                <p>Download and install the app to your iOS phone from the Apple App Store (search for &#34;ibm iot&#34;)</p>
              </h3>
              <h3> <img src="/images/Install_Step2.svg"/> Connect the app 
                <p>Start the app on your phone.</p>
                <p>Scan the connection QR code below when prompted to connect to the IoT for Electronics environment</p>
              </h3>
              <br/>
              <h3><strong>Detailed instructions, click </strong> <a href="https://new-console.ng.bluemix.net/docs/starters/IotElectronics/iotelectronics_config_mobile.html" target="_blank"> here </a>
              </h3>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="main-section gray-background arrow-section">
      <div class="container">
      <section class="col-xs-12 col-md-10 content">
        <h2>To connect the app to the environment, you&#39;ll be asked to scan this QR code</h2>
           <section class="col-xs-12 col-md-8 content">
              <img class="platform-qr-code" src="/qr/getPlatformCredentials"/>
              <h4> <strong>Connection QR code</strong> </h4>     
              <p>The first time you use the mobile consumer app on your phone, you will scan this code to connect your mobile device to your IoT for Electronics Bluemix environment.</p>
           </section>
        </section>
      </div>
    </div>
  </div>
  <div class="main-section arrow-section">
    <div class="container">
      <section class="col-xs-12 col-md-10 content">
        <h2>Next, choose or add new simulated washer</h2>
        <p class="add-washer-message">You can add up to five washers.<p>
        <p class="max-washer-message hidden"><span>You have reached the limit of 5 washers.</span></p>
        <button id="addNewDeviceButton" class="add-button"><img src="/images/PlusWasher_en.svg"></button>
        <hr/>
        <div class="washer-list">
          <p class="selection-text"><strong>Your washers</strong><span>Select a washer to control its simulated data. A new window will open.</span></p>
          <p class="no-washers-message">No washers have been added.</p>
          <p class="appxp-washer-message hidden">You must add a washer before continuing with the mobile app experience.</p>
          <div class="list-group">
          </div>
        </div>
      </section>
    </div>
  </div>
  <a class="ibm-top-link hidden" aria-label="Back to top" href="#top" tabindex="0">Back to top</a>
  <footer class="main-section gray-background">
    <div class="container">
      <section class="col-xs-12 col-md-10 content">
        <ul class="footer-links">
          <li><p>EXPLORE MORE</p></li>
          <li><h4><a class="link" href="<%= platformDashboard %>" target="_blank">Now you can manage your devices from the platform &gt;</a></h4></li>
        </ul>
      </section>
    </div>
  </footer>

  <div class="alert-messages">
    <div class="alert alert-success" id="alertDeviceDeleted">
      <p>Success! Device <span></span> was successfully deleted.</p>
    </div>
    <div class="alert alert-danger" id="alertError">
      <a href="#" class="close">&times;</a>
      <p></p>
    </div>
  </div>
  
  <script src="/javascripts/index.js"></script>

</body>
</html>